{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-8 mx-auto">
            <p class="lead text-body-secondary">{{ user.data_joined }}</p>
        </div>
    </div>
</section>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% if user.profile_picture %}
            <div class="col-md-6">
                <img src="{{ user.profile_picture.url }}" class="img-fluid" style="max-height: 600px; object-fit: cover;">
            </div>
            {% endif %}
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">НікНейм: {{ user.user_name }}</p>
                        <p class="card-text">Пошта: {{ user.email }}</p>
                        <!-- Тут можуть бути дії, пов'язані з книгою -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="album py-5 bg-light">
    <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for post in posts %}
                        <div class="col">
                            <div class="toast-header">
                            {% if user.profile_picture  %}
                                <img src="{{ user.profile_picture.url }}" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#007aff"></rect>
                            {% else %}
                                <img src="{% static 'img/sta.jpg' %}" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#007aff"></rect>
                            {% endif %}
                            <strong class="me-auto">{{post.user}}</strong>
                            <small>11 mins ago</small>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="card shadow-sm">
                            {% if post.posts_picture %}
                            <img src="{{ post.posts_picture.url }}" class="card-img-top">
                            {% endif %}
                        <div class="card-body">
                            <p class="card-text">{{post.content}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">👍</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">👎</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            <a  href="{% url 'posts_detail' post.pk%}">View</a>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            <a  href="{% url 'add_comments' %}">Add Comment</a>
                                        </button>

                                    </div>
                                    <small class="text-body-secondary">треба зробити дату!</small>
                                </div>
                            </div>
                    {% endfor %}
                        </div>
                    </div>
                </div>

        </div>
    </div>

</div>
{% endblock %}
