{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            {% if user_info.profile_picture %}
                <img src="{{ user_info.profile_picture.url }}" width="500" height="500" class="img-fluid" style="max-height: 600px; object-fit: cover;">
            {% else %}
                <img src="{% static 'img/sta.jpg' %}" width="300" height="300" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#007aff"></rect>
            {% endif %}
            </div>

            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">Nickname: {{ user_info.user_name }}</p>
                        <p class="card-text">Email: {{ user_info.email }}</p>
                        <p class="card-text">Data Joined: {{ user_info.data_joined }}</p>

                        <!-- Тут можуть бути дії, пов'язані з інформацією -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            <p class="card-text">Likes: {{ post.likes.all.count }}</p>
                            <p class="card-text">Comments: {{ post.comments.count }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for post in posts %}
                <div class="col">
                    <div class="toast-header">
                        {% if user_info.profile_picture  %}
                            <img src="{{ user_info.profile_picture.url }}" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#007aff"></rect>
                        {% else %}
                            <img src="{% static 'img/sta.jpg' %}" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#007aff"></rect>
                        {% endif %}
                        <strong class="me-auto">{{post.user}}</strong>
                    </div>
                    <div class="card shadow-sm">
                        {% if post.posts_picture %}
                        <img src="{{ post.posts_picture.url }}" class="card-img-top">
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text">{{post.content}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <p>{{ post.likes.count }}</p>
                                    {% if user.is_authenticated %}
                                                <form action="{% url 'post_like' post.pk %}" method="POST">
                                                    {% csrf_token %}
                                            <input type="hidden" name="post.id" value="{{ obj.id }}">
                                            {% if user in post.likes.all %}
                                                <button type="submit" name="blogpost_id" value="{{ object.id }}" class="btn btn-info">-------{{ like.value }}</button>
                                            {% else %}
                                                <button type="submit" name="blogpost_id" value="{{ object.id }}" class="btn btn-info">️️️️️️❤️️️️️️️ {{ like.value }}</button>
                                            {% endif %}
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            <a  href="{% url 'posts_detail' post.pk%}">View</a>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            <a  href="{% url 'add_comments' post.pk %}">Add Comment</a>
                                        </button>
                                        </form>
                                    {% endif %}
                                </div>
                                <small class="text-body-secondary">{{ post.create_at }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
