{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            {% if user_info.profile_picture %}
                <img src="{{ user_info.profile_picture.url }}" width="500" height="500" class="img-fluid" style="max-height: 600px; object-fit: cover;">
            {% else %}
                <img src="{% static 'img/sta.jpg' %}" width="300" height="300" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#007aff"></rect>
            {% endif %}
            </div>

            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">Nickname: {{ user_info.username }}</p>
                        <p class="card-text">Email: {{ user_info.email }}</p>
                        <p class="card-text">Data Joined: {{ user_info.date_joined }}</p>
                        <a href="{% url 'users' 'subscribe' %}">
                            <p class="card-text">Subscribes: {{ user_info.subscribe.count }} </p>
                        </a>
                        <a href="{% url 'users' 'following' %}">
                            <p class="card-text">Followings: {{ user_info.following_count }} </p>
                        </a>
                        <!-- Тут можуть бути дії, пов'язані з інформацією -->
                        <div class="btn-group">
                            {% if user.is_authenticated %}
                                {% if user != user_info %}
                                    {% if user_info in user.following.all %}
                                        <a href="{% url 'unsubscribe' user_info.pk %}" class="btn btn-secondary mt-3">Unsubscribe</a>
                                    {% else %}
                                        <a href="{% url 'subscribe' user_info.pk %}" class="btn btn-secondary mt-3">Subscribe</a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% if user_info == user %}
                            <form action="{% url 'update' user.pk %}">
                                <button type="submit" data-bs-dismiss="toast"> Edit</button>
                            </form>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for post in posts %}
                <div class="col">
                    <div class="toast-header">
                        {% if user_info.profile_picture  %}
                            <img src="{{ user_info.profile_picture.url }}" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#007aff"></rect>
                        {% else %}
                            <img src="{% static 'img/sta.jpg' %}" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#007aff"></rect>
                        {% endif %}
                        <strong class="me-auto">{{post.user}}</strong>
                        <form action="{% url 'delete_post' post.pk %}">
                            <button type="submit" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </form>
                    </div>
                    <div class="card shadow-sm">
                        {% if post.posts_picture %}
                        <img src="{{ post.posts_picture.url }}" class="card-img-top">
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text">{{post.content}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    {% if user.is_authenticated %}
                                                <form action="{% url 'posts_like' post.pk %}" method="POST">
                                                    {% csrf_token %}
                                            <input type="hidden" name="post.id" value="{{ obj.id }}">
                                            {% if user in post.likes.all %}
                                                <button
                                                        type="submit" name="blogpost_id" value="{{ object.id }}" class="btn btn-info">Unlike {{ post.likes.count }}
                                                </button>
                                            {% else %}
                                                <button
                                                        type="submit" name="blogpost_id" value="{{ object.id }}" class="btn btn-info">️️️️️️❤️️️️️️️ {{ post.likes.count }}
                                                </button>
                                            {% endif %}
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            <a  href="{% url 'posts_detail' post.pk%}">View</a>
                                        </button>

                                                <button type="button" class="btn btn-sm btn-outline-secondary">
                                                    <a  href="{% url 'add_comments' post.pk %}">Add Comment: {{ post.comment_count }}</a>
                                                </button>

                                        </form>
                                    {% endif %}
                                </div>
                                <small class="text-body-secondary">{{ post.create_at }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
