{% extends "base.html" %}
{% load static %}
{% block content %}



    <ul>
        {% for user_name in posts_menu %}
            <li>{{ post.title }} - {{ posts.users.username }}</li>
        {% endfor %}
    </ul>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for posts in object_list %}
            <div class="col">
                <div class="toast-header">
                {% if posts.user.profile_picture  %}
                    <img src="{{ posts.user.profile_picture.url }}" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#007aff"></rect>
                {% else %}
                    <img src="{% static 'img/sta.jpg' %}" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#007aff"></rect>
                {% endif %}
                <strong class="me-auto">{{posts.user}}</strong>
                </div>
                <div class="card shadow-sm">
                    {% if posts.posts_picture %}
                        <img src="{{ posts.posts_picture.url }}" class="card-img-top">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">{{posts.content}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                                {% if user.is_authenticated %}
                                <form action="{% url 'posts_like' posts.pk %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="post.id" value="{{ obj.id }}">
                                    {% if user in post.likes.all %}
                                        <button type="submit" name="blogpost_id" value="{{ object.id }}" class="btn btn-info">{{ post.likes.value }}</button>
                                    {% else %}
                                        <button type="submit" name="blogpost_id" value="{{ object.id }}" class="btn btn-info">️️️️️️❤️️️️️️️ {{ posts.likes.count }}</button>
                                    {% endif %}
                                </form>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                {% else %}
                                <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to like this article!</a><br>
                                {% endif %}
                                <button type="button" class="btn btn-sm btn-outline-secondary">
                                    <a  href="{% url 'posts_detail' posts.pk %}">View</a>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">
                                    <a  href="{% url 'add_comments' posts.pk%}">Add Comment: {{ posts.comment_count}}</a>
                                </button>


                            </div>
                            <small class="text-body-secondary">{{ post.created_at|date:"d.m.Y" }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}