{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-8 mx-auto">
            <p class="lead text-body-secondary">{{ post.user.user_name }}</p>
        </div>
    </div>
</section>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% if post.posts_picture %}
            <div class="col-md-6">
                <img src="{{ post.posts_picture.url }}" class="img-fluid" style="max-height: 600px; object-fit: cover;">
            </div>
            {% endif %}
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text"> {{ post.user }}</p>
                        <p class="card-text"> {{ post.content }}</p>
                        <!-- Тут можуть бути дії, пов'язані з постом -->
                        <div class="btn-group">
                            {% if user.is_authenticated %}
                                <form action="{% url 'posts_like' post.pk %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="post.id" value="{{ obj.id }}">
                                    {% if users in post.likes.all %}
                                        <button type="submit" name="blogpost_id" value="{{ object.id }}" class="btn btn-info">{{ post.likes.value }}</button>
                                    {% else %}
                                        <button type="submit" name="blogpost_id" value="{{ object.id }}" class="btn btn-info">️️️️️️❤️️️️️️️ {{ post.likes.count }}</button>
                                    {% endif %}
                                </form>
                                    {% if post.user == user %}
                                    <form action="{% url 'update_post' post.pk %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </form>
                                    {% endif %}
                            {% else %}
                            <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to like this article!</a><br>
                            {% endif %}
                                <button type="button" class="btn btn-sm btn-outline-secondary">
                                        <a  href="{% url 'add_comments' post.pk %}">Add Comment</a>
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="mt-5">Comments: {{ comment.count }}</h1>

    <div class="row mt-3">

          <div class="col-md-8 mx-auto">

                <ul class="list-group">
                    {% for com in comment %}

                        <li class="list-group-item">
                              <div class="d-flex justify-content-between align-items-center">
                                    <div class="user">
                                      <strong>{{ com.user }}</strong>
                                    </div>
                                    <div class="created_at text-muted">
                                        {{ com.create_at|date:"d.m.Y H:i" }}
                                    </div>

                              </div>

                              <div class="content mt-2">{{ com.content }}</div>
                        </li>

                    {% endfor %}
                </ul>
          </div>
      </div>
</div>
{% endblock %}
